*.o
*.dat
.#*
._*
*##
.DS_Store

# executables in subdirectories
*/chain_analysis/chain_analysis

# SBT dirs
target/
lib_managed/
src_managed/
scitools/project/boot/

# Eclipse dirs
workspace/Scikit/bin/*
workspace/JavaSims/bin/*
workspace/.metadata/
