*.o
*.dat
*.pdf
*.log
*.aux
*.bbl
*.blg
*.fmt
*.pyc
*~
.#*
._*
_region_*
*##
.scala_dependencies
.DS_Store

# executables in subdirectories
*/chain_analysis/chain_analysis

# SBT dirs
target/
lib_managed/
src_managed/
scitools/project/boot/

# Eclipse dirs
workspace/*/bin/*
workspace/.metadata/

